body {
  margin: 0px;
  padding: 0px;
}
button {
  cursor: pointer;
  border: none;
}
/* General classes */
.bg-gray {
  background-color: #e2e2e2;
}
.bg-green {
  background-color: #6bb166;
}
.bg-blue {
  background-color: #2c7787;
}
.bg-pink {
  background-color: #db9494;
}
.text-d-gray {
  color: #838383 !important;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
.py-0 {
  padding: 0px;
}
.my-0 {
  margin: 0px;
}
ul li {
  list-style: none;
}

/* start nav */
nav {
  margin: 0px;
  padding-top: 3px;
}

.boards button {
  margin: 0px;
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 8px 21px;
  font-size: 15px;
  background-color: transparent;
}

.boards .active {
  background-color: #ffffff;
}
.nav-buttons {
  font-size: 13px;
}
.addNote {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 0px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  outline: none;
  border: none;
}
.search {
  background-color: #ffffff;
  padding: 3px 30px 3px 13px;
  border-radius: 1rem;
  margin-right: 20px;
}
.search .fa-magnifying-glass {
  margin-right: 5px;
}
.nav-buttons {
  padding-right: 20px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
nav .nav-buttons .fa-trash {
  color: #a55353;
  padding-right: 4px;
}
.nav-buttons button {
  border-radius: 1rem;
  padding: 6px 15px;
  margin-left: 5px;
  color: #ffffff;
}
.nav-buttons button:hover,
.nav-buttons button:focus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

/* tabs */
.tab-content-box .tab-content {
  display: none;
}
.tab-content-box .tab-content.active {
  display: block;
}

/* end nav */
